
<a class="menuLink" href="javascript:void(0)" onclick="javascript:$('#sys-share-popup').dolPopup({pointer: {el:this}})" title="<bx_text_attribute:_Share />">
    <!-- Removed Social Media Share Menu -->
    <!--<i class="sys-icon share-alt"></i>-->
</a>
<div id="sys-share-popup" class="sys-share-popup" style="display: none">__popup__</div>
