<div id="title_curr" class="bx_sys_block_videos_title_curr">
        __video_title__
</div>
<div class="bx_sys_block_videos_title_curr">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2/swfobject.js"></script>
	<a name="ytplayer"></a>
	<center><div id="ytplayer_div">You need Flash player 8+ and JavaScript enabled to view this video.</div></center>
	<script type="text/javascript">
	  swfobject.embedSWF(
		'//www.youtube.com/v/__video_id__&enablejsapi=1&rel=0&fs=1',
		'ytplayer_div',
		'425',
		'344',
		'8',
		null,
		null,
		{
		  allowScriptAccess: 'always',
		  allowFullScreen: 'true'
		},
		{
		  id: 'ytplayer_object'
		}
	  );
	</script>
	<script type="text/javascript">
	  function ytplayer_loadvideo( id, title ) {
		var o = document.getElementById( 'ytplayer_object' );
		if( o ) {
		  o.loadVideoById( id );
		}
 
		$('#title_curr').html(title);

	  }
	</script>

	<div class='clear_both'></div><br>
	<div style='text-align:center'> 
		<bx_repeat:video> 
			<a href="javascript:void(0)" onClick="ytplayer_loadvideo( '__video_id__', '__video_title__');"><img width=60px height=45px src="//img.youtube.com/vi/__video_id__/default.jpg" /></a>
		</bx_repeat:video> 
	</div>
</div>