<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">

	<div class="bx-twig-unit-icon-cont bx-def-margin-sec-right">
		__thumb_url__ 
	</div>

	<div class="bx-twig-unit-info">
 
		<div class="bx-twig-unit-comment">__snippet_text__</div>

		<div class="bx-twig-unit-line bx-twig-unit-special">
			<bx_text:_bx_groups_posted_in_topic /> <a href="__topic_url__">__topic__</a>
		</div>

		<bx_if:main>
			<div class="bx-twig-unit-line bx-twig-unit-special">
				<bx_text:_bx_groups_posted_in_group /> <a href="__item_url__">__item_title__</a>
			</div>
		</bx_if:main>

		<div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
			__created__ <span class="bullet">&#183;</span> <bx_text:_From /> <a href="__author_url__">__author__</a>
		</div> 
	</div>    
</div> 