
<div class="bx_events_block_info">
    <div class="infoMain">        
        __author_unit__
        <div class="infoText bx-def-margin-sec-top">
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon folder-close"></i>
                __cats__
            </div>
            <div class="infoUnit infoUnitFontIcon">
                <i class="sys-icon tags"></i>
                __tags__
            </div>
			<!--
            <div class="infoUnit infoUnitLocation">
                __location__
            </div>
			-->
        </div>
    </div>
</div>

__fields__

