
<div class="bx_sys_file_upload_wrapper1">

    <div class="bx_sys_file_upload_line">
  
		<div class="bx_sys_file_upload_title">
			<bx_text:_bx_groups_form_caption_rss_caption />
		</div> 
		<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
            <input class="form_input_text bx-def-font" type="text" name="rsscaption[]" size="18" />
        </div> 
        <i title="Add" alt="Add" class="multiply_add_button sys-icon plus-circle" onclick="$(this).parent().parent().append($(this).parent().clone().find('.multiply_add_button').remove().end().find('.multiply_remove_button').show().end().hide()).find('.bx_sys_file_upload_line').slideDown();" ></i>
        <i title="Remove" alt="Remove" class="multiply_remove_button sys-icon minus-circle" onclick="var $this = this; $(this).parent().slideUp(function () { $($this).parent().remove(); });" style="display:none;"  style="display:none;"></i> 
        <div class="clear_both"></div>
  
		<div class="bx_sys_file_upload_title">
			<bx_text:_bx_groups_form_caption_rss_link />
		</div> 
		<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
            <input class="form_input_text bx-def-font" type="text" name="rsslink[]" size="18" />
        </div>
		<div class="clear_both"></div>
  
    </div> 
</div>
