<div class="bx_sys_file_choice_wrapper"> 
    <bx_if:empty><div class="bx_sys_forms_extra_default_padding" style="white-space:normal;"><bx_text:_Empty /></div></bx_if:empty>	
	<bx_repeat:feeds>
        <div>
            <input type="checkbox" name="prev_feed[__id__]" value="__id__" id="thumb__id__" checked='checked' /> 
            <p>&nbsp;__name__</p>
            <div class="clear_both"></div>
        </div>
    </bx_repeat:feeds>    
</div>
