<div class="bx-def-bc-padding">
	<bx_repeat:entries> 
		 <div style="width: 100%;"><a class="actions" href='__cat_url__'>__cat_name__</a> (__num_items__)</div> 
	</bx_repeat:entries>  
	<div class="clear_both"></div> 
</div>