<div class="bx-def-bc-padding">
	<bx_repeat:entries> 
		<div class="cls_result_row">
			<div class="cls_res_thumb margined">
				__thumbnail__
			</div> 
			<div class="cls_res_info_nowidth"> 
				<div>
					 <div class="clr3"><div class='activity_desc'>__description__</div> <div  class='activity_date'>__date__</div></div> 
				</div>
			</div>
			<div class="clear_both"></div>
		</div>
		<div class='clear_both activity_spacer'></div> 
	</bx_repeat:entries> 
	<div class="clear_both"></div> 
</div>
