<div class="bx-def-bc-padding">
    <bx_if:image>
    <div class="bx_groups_main_photo">
        <a title="__image_title__" href="__group_url__"><img class="bx-def-shadow bx-def-round-corners bx-def-margin-sec-bottom" alt="__image_title__" src="__image_url__" /></a>
    </div>
    </bx_if:image>
    <div class="bx_groups_main_info">
        <div class="bx_groups_main_info_title bx-def-font-h2">
            <a href="__group_url__">__group_title__</a>
        </div>
        <div class="bx_groups_main_info_text">
            <div>__country_city__</div>
            <div class="bx-def-font-grayed">__author_title__ <a href="__author_url__">__author_username__</a></div>
        </div>
        <div class="bx_groups_main_info_img">
            __rating__
            <div class="clear_both"></div>
            <div>__fans_count__ <bx_text:_bx_groups_fans /></div>
        </div>
        <div class="clear_both"></div>
    </div>
</div>
