<div class="bx-def-bc-padding">
	 <div class='block_header'>__item_label__</div>  
	 <div class='clear_both'></div>	 
	 
	<bx_repeat:entries> 
		 <div  style="width: 100%;"><b><a class="actions" href='__cat_url__'>__cat_name__</a> (__num_items__)</b></div> 
	</bx_repeat:entries>  
	<div class='clear_both'></div>	  
</div>