<div class="sys_file_search_unit subprofile_unit">
    <div class="sys_file_search_pic" style="background-image: url(<bx_icon_url:lock.png />);">
         <img src="<bx_icon_url:spacer.gif />"/> 
    </div>
    <div class="sys_file_search_header">
         &nbsp;
    </div> 
    <div class="sys_file_search_title">
		<div style="font-weight:bold;"><bx_text:_sys_private /></div> 
    </div> 
</div>
