<div id="wall-event-__post_id__" class="wall-event bx-groups-wall-event">
    <a name="wall-groups-__post_id__"></a>
    __post_owner_icon__
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon users"></i></div>
        <div class="wall-caption bx-groups-wall-caption">
            <span class="bx-groups-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="bx-groups-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        </div>
        <div class="wall-content bx-groups-wall-content">
            __unit__
        </div>
        <div class="wall-comments bx-groups-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
