To add a new member goto:
Modules
-> <a href="../modules/?r=add_member/administration/" target="_blank">Add A New Member</a>

Once you add a new member you can update or make changes to their profile by going to:
<a href="profiles.php" target="_blank">Members</a>
-> Order by:
--> Last Join
