<!-- Edited by Wilson Perdomo: Button Fix -->
<div style="display: inline-block;">
    <button class="bx-btn bx-btn-small" onclick="location.href='__item_link__'">
        __item_name__
    </button>
</div>
