<div class="bx-def-bc-margin">
    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__url__" target="_blank">__title__</a>
        </div>
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
               __started__<a href="__author_url__">__author__</a>
              <!-- <button onclick="<?php
	//require_once('http://combinexlife.com/cxlife/templates/base/BxBaseZoomTestView.php');
	
	//$oZoom = new BxBaseZoomTestView();

	//$id = $_GET['meeting_id'];
	//$hostId = $_GET['host_id'];
	//$oZoom->deleteMeeting($id, $hostId);

	//header('Location: combinexlife.com/cxlife/zoomtest.php');

?>">Delete</button>-->
				__delete__
               <p>__permission__</p>
            </div>
    </div>    
</div>