<div class="bx-def-bc-margin"><form action="zoomtest.php" method="get">
Email (must be the same as your IKON-IC email): <input type="text" name="email">
  <br><br>
  <input type="submit" value="Join Zoom">
</form><br><p>After signing up you will recieve an activation email. Activate your account to begin!</p><!--<a href="__start_link__" target="_blank">__start_meeting__</a>--></div>