<!--<script type="text/javascript" language="javascript">-->
<div class="bx-def-bc-margin"><!--<input type="button" id="btn_create" value="Start a Meeting"/>  <a href="zoomtest.php" target="_blank">Start a Meeting</a>-->
<form action="zoomtest.php" method="get" target="_blank">
Topic: <input type="text" name="topic">
<p>__select_group_code__</p>
  <br><br>
  <input type="submit" value="Start Meeting">
</form>
</div>

<script>
//require_once("http://d24cgw3uvb9a9h.cloudfront.net/static/13294/js/lib/jquery.js?44165");

/*document.getElementById("btn_create").onclick = function() {creator()};

function creator() {
	jQuery.ajax({
        url: 'zoomie.php',
    });
}*/

</script>