<div class="bx-def-bc-margin">
<a>Thanks for joining! Activate your membership with the email we just sent you to begin.</a>
<!--<a href="__start_link__" target="_blank">__start_meeting__</a>--></div>