<div id="unit___unit_id__" class="sys_file_search_unit gpa_su">
  <div class="sys_file_search_pic gpa_file_search_pic">
  <a title="__unit_title__" href="__unit_view_url__"><img src="<bx_image_url:spacer.gif />" __unit_thumb__ alt="__unit_title__" /></a>
  </div>
  <div class="sys_file_search_title"><a title="__unit_title__" href="__unit_view_url__">__unit_title__</a></div>
  <div class="sys_file_search_bottom">
    <!--<div class="sys_file_search_from"><bx_text:_From /> <a title="__author_name__" href="__author_url__">__author_name__</a></div>-->
    <div class="sys_file_search_fromGroup"><a title="__group_name__" href="__group_link__">__group_name__</a></div>
  </div>
  <div class="sys_file_search_when">__unit_when__</div>
  <div class="sys_file_search_when">__unit_img_cnt__ <bx_text:_gpa_images /></div>
</div>
