<div class="clear_both"></div>
<style>
    .art_breadcrumb a {
        color:#888;
        font-family:Verdana,Arial;
        font-size:16px;
        margin: 5px;
    }
</style>
<span class="art_breadcrumb">
	<a href="__album_url__" ><bx_text:_gpa_back /></a>
	<a href="__main_url__" title="flash">flash</a>
	<div class="clear_both"></div>
</span>
<br />