<div class="bx_files_unit_short bx-def-margin-sec-top-auto" align="right" id="unit__unit_id__">
    <div class="bx_files_unit_short_box">
        <a href="__unit_full_img_url__">
            <img src="__pic__" class="bx_files_unit_short_pic"/>
        </a>
    </div>
    <div class="bx_files_unit_short_text" text-align="right">
        <div class="bx_files_title">
            <!--<bx_if:admin>
                <input type="checkbox" name="entry[]" value="__unit_id__"/>
            </bx_if:admin>-->
            <a class="bx-def-font-large" href="__unit_view_url__">__unit_title__</a>
        </div>
        <div class="bx_files_info bx-def-font-grayed">
            <a href="__unit_owner_link__">__unit_owner__</a><span class="sys-bullet"></span><span class="bx_files_when">__unit_when__</span>
        </div>
    </div>
</div>
