<div class="infoMain bx-def-margin">
  __owner_thumb__
  <div class="infoText bx-def-margin-sec-top-auto">
    <div class="infoUnit infoUnitFontIcon"><i class="sys-icon time"></i> __when__</div>
    <div class="infoUnit infoUnitFontIcon"><i class="sys-icon info-sign"></i> __description__</div>
  </div>
  <bx_if:fans_photo>
  <hr />
  <h4><bx_text:_gpa_photo_by /></h4>
  __fan_thumb__
  </bx_if:fans_photo>
</div>
<div class="clear_both"></div>