<bx_include_auto:_sub_header.html />
    <div id="page_column_1" class="page_column page_column_first gpcol1">
        __page_main_code1__
    </div>
    <div id="page_column_2" class="page_column page_column_last gpcol2">
        __page_main_code2__
    </div>
    <div class="clear_both"></div>
<bx_include_auto:_sub_footer.html />