<div class="fileUnit">
    <div class="bx-def-padding">
        <bx_if:b_can_feature>
            <div style="margin-bottom:5px;overflow:hidden">
                <button class="bx-btn bx-btn-small bx-btn-ifont" onclick="getHtmlData('ajaxy_popup_result_div_gpa', '__feature_url__'); return false;">
                    <i class="sys-icon star-empty"></i><bx_text:_gpa_feature_action />
                </button>
            </div>
            <div class="clear_both"></div>
            <div id="ajaxy_popup_result_div_gpa"></div>
        </bx_if:b_can_feature>

        <bx_if:owner>

        <div style="margin-bottom:5px;overflow:hidden">
            <button class="bx-btn bx-btn-small bx-btn-ifont" onclick="$('.change_desc_form').slideToggle(300); return false;">
                <i class="sys-icon star-empty"></i><bx_text:_gpa_add_description />
            </button>
        </div>

            <div class="change_desc_form" style="display:none;">
                <div style="margin:5px;"><input type="text" id="title" name="title" value="__title__" /></div>
                <div style="margin:5px;"><textarea id="description" name="description" style="width:250px;height:50px;">__description__</textarea></div>
                <div style="margin:5px;"><input type="button" value="<bx_text:_Submit />" onclick="updateDesc();" /></div>
            </div>
            <script type="text/javascript" language="javascript">
                function updateDesc() {
                    $.post("__currUrl__", { id: "__photo_id__", title: $('#title').val(),  desc: $('#description').val(), action: "edit_desc" }, 
                      function(data){ 
                        if (data) {
                            getHtmlData('group_imga_full_unit', '__currUrl__&mode=ajax');
                        }
                      } 
                    );
                }
            </script>
        </bx_if:owner>

        <div style="margin-bottom:5px;overflow:hidden">
            <button class="bx-btn bx-btn-small bx-btn-ifont" onclick="window.open('__photo_orig_url__')">
                <i class="sys-icon star-empty"></i><bx_text:_gpa_download />
            </button>
        </div>
    </div>

    <div class="navPanel" style="width:__width_ext__px; margin: 0px auto 10px;">
        <div class="navPanelLink">
            __image_title__
        </div>
        <bx_if:prev>
           <a href="__linkPrev__" onclickZ="getHtmlData('group_imga_full_unit', '__linkPrev__&mode=ajax'); return false;" title="__titlePrev__"><img src="<bx_icon_url:prev32.png />" class="navPanelLinkPrev" alt="__titlePrev__" /></a>
        </bx_if:prev>
        <bx_if:next>
            <a href="__linkNext__" onclickZ="getHtmlData('group_imga_full_unit', '__linkNext__&mode=ajax'); return false;" title="__titleNext__"><img src="<bx_icon_url:next32.png />"  class="navPanelLinkNext" alt="__titleNext__" /></a>
        </bx_if:next>
    </div>
    <div class="fileUnitPic" id="viewback" style="width:__width_ext__px;height:__image_height_ex__px;">
        <div style="position:relative;margin:0px auto;width:__image_width__px;height:__image_height__px;">
            <img src="__image_url__" class="fileUnitSpacer" alt="__image_title__" />
        </div>
        <div class="gpa_desc">__description__</div>
    </div>
    <div class="clear_both"></div>
</div>