<div id="unit___unit_id__" class="sys_file_search_unit gpa_su">
  <div style="background-image: url(__unit_img_url__);" class="sys_file_search_pic gpa_file_search_pic">__checkbox__ <a href="__unit_full_img_url__" title="__unit_title__" class="group" rel="group1"><img src="<bx_image_url:spacer.gif />" alt="__unit_title__" /></a></div>
  <div class="sys_file_search_title"><a title="__unit_title__" href="__unit_view_url__">__unit_title__</a><div class="sys_file_search_size bx-def-font-grayed bx-def-font-small">__unit_size__</div></div>
  <div class="sys_file_search_when bx-def-font-grayed bx-def-font-small">__unit_when__</div>
</div>
