<link href="__plugins_url__swfupload/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__plugins_url__swfupload/swf/swfupload.js"></script>
<script type="text/javascript" src="__plugins_url__swfupload/script/js/swfupload.queue.js"></script>
<script type="text/javascript" src="__plugins_url__swfupload/script/js/fileprogress.js"></script>
<script type="text/javascript" src="__plugins_url__swfupload/script/js/handlers.js"></script>
<script type="text/javascript">
	var bx_swf_uploader;

    if ('__ajx_mode__' == 'true') {
        bxInitSwfUploader();
    } else {
        addEvent( window, 'load', function() { bxInitSwfUploader() } );
    }

	/*window.onload = function()*/
    function bxInitSwfUploader() {

		bx_swf_uploader = new SWFUpload({
            // Backend Settings
            upload_url: "__accept_file__",
            post_params : {"action": "accept_multi_files", "oid": "__owner_id__" __possible_album__ },

            // File Upload Settings
            file_size_limit : "__file_size_limit__",
            file_types : "__accept_format__",
            file_types_description : "__accept_format_desc__",
            file_upload_limit : "__file_upload_limit__",
            file_queue_limit : "__file_queue_limit__",

            // Event Handler Settings (all my handlers are in the Handler.js file)
            file_dialog_start_handler : fileDialogStart,
            file_queued_handler : fileQueued,
            file_queue_error_handler : fileQueueError,
            file_dialog_complete_handler : fileDialogComplete,
            upload_start_handler : uploadStart,
            upload_progress_handler : uploadProgress,
            upload_error_handler : uploadError,
            upload_success_handler : uploadSuccess,
            upload_complete_handler : uploadComplete,

            // Button Settings
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
            button_cursor: SWFUpload.CURSOR.HAND,
            button_image_url : "__button_image_url__",
            button_placeholder_id : "spanButtonPlaceholder",
            button_width: 638,
            button_height: 18,
            button_text : '<span class="button"><bx_text:_gpa_select_images /> <span class="buttonSmall">(__file_size_limit__ Max)</span></span>',
            button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
            button_text_top_padding: 0,
            button_text_left_padding: 18,
            
            // Flash Settings
            flash_url : "__plugins_url__swfupload/swf/swfupload.swf",
/*
            swfupload_element_id : "flashUI2",		// Setting from graceful degradation plugin
            degraded_element_id : "degradedUI2",	// Setting from graceful degradation plugin
*/
            custom_settings : {
                progressTarget : "fsUploadProgress",
                cancelButtonId : "btnCancel",
                upload_target : "divFileProgressContainer"
            },

            // Debug Settings
            debug: false
		});
	 }
</script>

<div id="content" style="width:645px;">
    <div class="swf_uploader_warning" style="margin:10px 0px;"><bx_text:_media_flash_warning /></div>
	<form id="form1" action="__accept_file__" method="post" enctype="multipart/form-data" style="margin-bottom:10px;">
		<div>
			<div style="border: 1px solid #7FAAFF; padding: 2px; display: block; background-color: #C5D9FF;">
				<span id="spanButtonPlaceholder"></span>
				<div class="button_wrapper" style="display:none;">
                    <input id="btnCancel" type="button" value="<bx_text:_Cancel_Uploads />" onclick="cancelQueue(bx_swf_uploader);" disabled="disabled" class="form_input_submit" />
					<div class="button_wrapper_close"></div>
				</div>
			</div>
			<div class="fieldset flash1" id="fsUploadProgress"></div>
		</div>
	</form>
    <div id="accepted_files_block" style="width: 800px; background-color:#FFDADA;"></div>
    <div id="divFileProgressContainer" style="height: 75px;"></div>
</div>
