<div id="gwall-event-__post_id__" class="gwall-event gpa-gwall-event">
    __post_owner_icon__
    <div class="gwall-event-cnt">
        <div class="gwall-event-circle">
            <i class="sys-icon file"></i>
        </div>
        <div class="gwall-caption gpa-gwall-caption">
            <span class="gpa-gwall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="gpa-gwall-caption-link" href="__cpt_item_url__">__cpt_item__</a>.&nbsp;
        </div>
        <div class="gwall-content gpa-gwall-content">
            <i>__cpt_item_description__</i>
            <div class="clear_both"></div>
        </div>
        <div class="gwall-comments gpa-gwall-comments" id="gwall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>