<div class="bx-twig-unit bx_groups_unit bx-def-margin-top-auto">
    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a href="__url__">__title__</a>
        </div>
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                __num_posts__ <a href="__author_url__">__author__</a>
            </div>
    </div>    
</div>