@media (min-width:720px) and (max-width:1024px) {
	html {
		font-size: 100%;
	}

    div.sys_root_bg {
	    background-image: url(../images/newbg.jpg);
    }

	.sys_main_page_width {
		width: 100%;
	}
}
