<div class="bx-twig-unit bx-twig-unit-admin bx-def-margin-top-auto">
 
    <div class="bx_sys_unit_checkbox bx-def-round-corners">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
 
    <div class="bx-twig-unit-info" style="padding-left:30px"> 
        <div class="bx-twig-unit-title bx-def-font-h2">
            <bx_text:_modzzz_gprivate_form_caption_group />: __title__
        </div> 
    </div>     
</div>