.circle-container-left {
            position: relative;
            display: flex;
           top: 3%;
            left: 10%;
            float: left;
            width: 12em;
            height: 12em;
            padding: 2em 2em 2em 2em;
            margin: auto auto auto auto;
        }
         .circle-container-right {
            position: relative;
            display: flex;
          top: 3%;
       left: 10%;
            width: 12em;
            height: 12em;
            padding: 2em 2em 2em 2em;
            margin: auto auto auto auto;
        }
        .circle-container-left a {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            width: 4em; height: 4em;
            margin: -2em;
        }
        .circle-container-left img { 
            display: block; 
            border-radius: 50%;

        }

    .circle-container-right a {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            width: 4em; height: 4em;
            margin: -2em;
        }
        .circle-container-right img { 
            display: block; 
            border-radius: 50%;

        }

        .center { 
            transform: rotate(225deg) translate(2em) rotate(-225deg); 
        }
        .deg0 { 
            transform: translate(6em); 
        }
        .deg45 { 
            transform: rotate(315deg) translate(6em) rotate(-315deg); 
        }
        .deg90 { transform: rotate(270deg) translate(6em) rotate(-270deg); }
        .deg135 { transform: rotate(225deg) translate(6em) rotate(-225deg); }
        .deg180 { transform: translate(-6em); }
        .deg225 { transform: rotate(135deg) translate(6em) rotate(-135deg); }
        .deg270 { transform: rotate(90deg) translate(6em) rotate(-90deg); }
        .deg315 { transform: rotate(45deg) translate(6em) rotate(-45deg); }