.block_header{
 	font-weight: bold;
	font-size:12px;
	padding-bottom: 5px;  
 }

div.activity_spacer{
   margin-bottom:3px;margin: 0; padding: 5px 0px 5px 0px; 
}  
 
div.activity_date {
	float: right; 
	color: #999999;
	padding-left: 5px;
}
div.activity_desc {
	float: left; 
	padding-left: 5px;
}  
 
.bx_groups_main_photo {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.bx_groups_main_photo img {
    background-color:#fff;
}

.bx_groups_main_info_text {
    width:70%;
    float:left;
    text-align:left;
}
.bx_groups_main_info_img {
    width:30%;
    float:left;
    text-align:right;
}

.bx_groups_main_info_img .votes_small {
    width:auto;
}

#sys_manage_items_manage_fans_content {
    max-height:280px;
    overflow-y:auto;
}
