<form id="__form_name__"  method="post" action="" class="form_advanced">
    
<div class="form_advanced_wrapper category_form_wrapper"> 
	<input type=hidden name='id' value='__id__'> 
	<table class="form_advanced_table" cellpadding="0" cellspacing="0"> 
	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_name />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>
			<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
				<input class="form_input_text bx-def-font" name="package_name" value="__name__" type="text">  
			</div>  
		</td> 
	</tr>


	<tr>
		<td class="caption">
 			<bx_text:_bx_events_package_description />: 
		</td> 
		<td class="value">
			<div class="input_wrapper input_wrapper_textarea bx-def-round-corners-with-border" style="width:650px">
				<textarea class="form_input_textarea bx-def-font form_input_html"  rows=5 cols=60 name="package_description">__description__</textarea>
			</div> 
		</td> 
	</tr>

	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_price />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>
			<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
				<input class="form_input_text bx-def-font" name="package_price" value="__price__" type="text"> 
				
			</div>  
		</td> 
	</tr>

	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_days />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_text bx-def-round-corners-with-border">
				<input class="form_input_text bx-def-font" name="package_days" value="__days__" type="text"> 
				
			</div>   
		</td>
	</tr>

	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_videos />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_select">
				<select class="form_input_select bx-def-font" name="package_videos"> 
					<option value='0' __video_no_select__><bx_text:_bx_events_no /></option>
					<option value='1' __video_yes_select__><bx_text:_bx_events_yes /></option>   
				</select>
				
			</div>   
		</td>
	</tr>

	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_photos />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_select">
				<select class="form_input_select bx-def-font" name="package_photos">   
					<option value='0' __photo_no_select__><bx_text:_bx_events_no /></option>
					<option value='1' __photo_yes_select__><bx_text:_bx_events_yes /></option>
				</select>
				
			</div>   
		</td>
	</tr>


	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_sounds />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_select">
				<select class="form_input_select bx-def-font" name="package_sounds"> 
					<option value='0' __sound_no_select__><bx_text:_bx_events_no /></option>
					<option value='1' __sound_yes_select__><bx_text:_bx_events_yes /></option> 
				</select>
				
			</div>   
		</td>
	</tr>

	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_files />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_select">
				<select class="form_input_select bx-def-font" name="package_files">  
					<option value='0' __file_no_select__><bx_text:_bx_events_no /></option>
					<option value='1' __file_yes_select__><bx_text:_bx_events_yes /></option>  
				</select>
				
			</div>   
		</td>
	</tr>
 
	<tr>
		<td class="caption">
			<span class="required">*</span> 
			<bx_text:_bx_events_package_featured />: 
		</td> 
		<td class="value">
			<div class="clear_both"></div>  
			<div class="input_wrapper input_wrapper_select">
				<select class="form_input_select bx-def-font" name="package_featured">  
					<option value='0' __featured_no_select__><bx_text:_bx_events_no /></option>
					<option value='1' __featured_yes_select__><bx_text:_bx_events_yes /></option>  
				</select>
				
			</div>   
		</td>
	</tr>
 
	</table> 
</div> 
 
__controls__
 
</form>
 
