<div class="bx-def-bc-padding"> 
	<div style='width:50%;margin:0 auto;'> 
		 <a class="bx-btn bx-btn-img bx-btn-ifont" target=_blank href="__print_url__" style='text-decoration:none;'> 
			<i class="sys-icon print"></i>
			<bx_text:_bx_events_print_list />
		</a>  
	</div> 
	<div class="clear_both"></div>  
</div>
