<div class="bx-def-padding-bottom">  
	<div style='float:left;width:25%'><b><bx_text:_bx_events_price_event_date /></b></div>  
	<div style='float:left;width:20%'><b><bx_text:_bx_events_price_tickets /></b></div>  
	<div style='float:left;width:20%'><b><bx_text:_bx_events_price_cost /></b></div>  
	<div style='float:left;width:25%'><b><bx_text:_bx_events_price_deadline /></b></div>  
	<div style='float:left;width:5%'>&nbsp;</div>   
</div>  
