<div class="bx-def-margin-sec-top">
	<div style='float:left;width:25%'>__event_date__</div>  
	<div style='float:left;width:20%'>__tickets__</div>  
	<div style='float:left;width:20%'>__cost__</div>  
	<div style='float:left;width:25%'>__deadline__</div>  
	<div style='float:left;width:5%'><i class="info sys-icon info-sign" float_info="__info__"></i></div>   
</div>   
<div class="clear_both"></div>
