<div itemscope itemtype="http://schema.org/Event">
	<div class="bx_events_block_info">
		<div class="infoMain">        
			__author_unit__
			<div class="infoText bx-def-margin-sec-top">
				<div class="infoUnit infoUnitFontIcon">        
					<i class="sys-icon folder-close"></i>
					__cats__
				</div>
				<div class="infoUnit infoUnitFontIcon">
					<i class="sys-icon tags"></i>
					__tags__
				</div>  
				<div class="infoUnit infoUnitFontIcon">
					<i class="sys-icon eye-open"></i>
					__views__ <bx_text:_bx_events_views />
				</div>  
				<!--
				<div class="infoUnit infoUnitLocation">
					__location__
				</div>
				-->
				<bx_if:showexpiry> 
					<div class="infoUnit infoUnitFontIcon">
						<i class="sys-icon time"></i>
						<bx_text:_bx_events_expires />: __expire__
					</div>
				</bx_if:showexpiry> 

				<bx_if:owner>  
					<div class="infoUnit infoUnitFontIcon">
						<i class="sys-icon star-empty"></i>
						 __featured__
					</div> 
				</bx_if:owner>

			</div>
		</div>
	</div>

	<div class="infoUnitBorderFirst"></div>
 
   <div class="bx-def-padding-thd-topbottom" itemprop="name"><a itemprop="url" href="__event_url__">__event_title__</a></div>

   <div class="infoUnitBorder"></div>
 
   <div class="bx-def-padding-thd-topbottom">
		<div class="bx-twig-unit-line"> 
			<bx_text:_bx_events_starts />: <span>__start_date__<span itemprop="startDate" content="__start_date_snippet__"></span></span>
		</div>
		<div class="bx-twig-unit-line">   
			<bx_text:_bx_events_ends />: <span class="dtend">__end_date__<span itemprop="endDate" content="__end_date_snippet__"></span></span>
		</div>
   </div>


   <div class="infoUnitBorder"></div>

   <div class="bx-twig-unit-line bx-def-padding-thd-topbottom"><b>Location:</b></div>

   <div class="bx-twig-unit-line" itemprop="location" itemscope itemtype="http://schema.org/Place">
      <span itemprop="name">__place__</span> <br />
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
		 <bx_if:street>
			<span itemprop="streetAddress">__street__</span> <br />
		 </bx_if:street>
		 <bx_if:zipcode>
			<span itemprop="postalCode">__zip__</span> 
		 </bx_if:zipcode>
         <span itemprop="addressLocality">__state_city__</span> <br />
		 <span itemprop="addressCountry">__country__</span>
      </span> 
   </div>
	 
</div>

