<div class="bx-def-bc-padding">

	<div class="rss_item_topic">__topic__</div>

	<bx_repeat:entries>  
		<div class="rss_item_wrapper"> 
			<div class="rss_item_header"><a href="__link__" target="_blank">__title__</a></div>

			<div class="rss_item_info"><span><img src="<bx_icon_url:clock.png />"/> __date__</span></div>

			<div class="rss_item_desc">__desc__</div> 
		</div> 
	</bx_repeat:entries>
</div>
 