<style> 
	.bx_sys_file_choice_wrapper1{
		width:500px;    
		border:4px solid #e5e5e5;
		background-color:#fff;	
	} 
</style>

<div class="bx_sys_file_choice_wrapper"> 
    <bx_if:empty><div class="bx_sys_forms_extra_default_padding" style="white-space:normal;"><bx_text:_Empty /></div></bx_if:empty>	
	<bx_repeat:discounts>
        <div>
            <p><input type="checkbox" name="prev_discount[__id__]" value="__id__" checked="checked" /> 
            &nbsp;__discount__</p>
            <div class="clear_both"></div>
        </div>
    </bx_repeat:discounts>    
</div>