<div class="mbp-level-content">
	<div class="mbp-level-title">
		__title__ (__days__ - __currency_sign____price__)
	</div>                
	<div class="mbp-level-info">__description__</div> 
	<div class="mbp-cb">&nbsp;</div>  
	<div class="mbp-level-info"><b><bx_text:_bx_events_featured /></b> - __featured__</div> 
	<div class="mbp-level-info"><b><bx_text:_bx_events_allow_videos /></b> - __videos__</div> 
	<div class="mbp-level-info"><b><bx_text:_bx_events_allow_photos /></b> - __photos__</div> 
	<div class="mbp-level-info"><b><bx_text:_bx_events_allow_sounds /></b> - __sounds__</div> 
	<div class="mbp-level-info"><b><bx_text:_bx_events_allow_files /></b> - __files__</div>
</div>