<div class="bx-twig-unit bx-twig-unit-admin bx_events_unit bx-def-margin-top-auto">
 
	<div class="bx_sys_unit_checkbox" >
		<input type="checkbox" name="entry[]" value="__id__" />
	</div>   
	 	
    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2 bx-twig-checkbox-pad">
			<b>__package__</b> - <a href="__event_url__">__event_title__</a> 
		</div>
		<div class="clear_both"></div>
		 
        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_order_no />:</span> __order_no__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_invoice_no />:</span> __invoice_no__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_purchaser />:</span> <a href="__author_url__">__author__</a> 
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_payment_method />:</span> __payment_method__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title">  
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_order_date />:</span> __create_date__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_next_due_date />:</span> __due_date__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_status />:</span> __order_status__
		</div>
		<div class="clear_both"></div>

        <div class="bx-twig-unit-title"> 
			<span class="bx-twig-unit-caption"><bx_text:_bx_events_product_status />:</span> __product_status__
		</div>  
		<div class="clear_both"></div>

	</div> 
	<div class="clear_both"></div>
</div>
 
