<div class="bx-def-bc-padding">
    <div class="ordered_block">
        __name__&nbsp;<select name="select_type" onchange="location.href='__location_href__' + this.value;">
            <bx_repeat:items>
                <option value="__value__"  __selected__>
                    __caption__
                </option>
            </bx_repeat:items>
        </select>
    </div>
</div>