<div itemscope="itemscope" itemtype="http://schema.org/Event" class="bx-twig-unit bx_events_unit bx-def-margin-top-auto">

    <div class="bx-twig-unit-thumb-cont bx-def-margin-sec-right">
        <a href="__event_url__"><img itemprop="image" class="bx-twig-unit-thumb bx-def-round-corners bx-def-shadow" src="__thumb_url__"></a>
    </div>

    <div class="bx-twig-unit-info">

        <div class="bx-twig-unit-title bx-def-font-h2">
            <a itemprop="url" href="__event_url__"><span itemprop="name">__event_title__</span></a>
        </div>
 
		<!-- [begin] location integration modzzz  -->
		<bx_if:location_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_location_caption_event_for_location /> __location__
			</div> 
		</bx_if:location_event>
		<!-- [end] location integration modzzz  -->

		<!-- [begin] band integration modzzz  -->
		<bx_if:band_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_bands_caption_event_for_band /> __band__
			</div> 
		</bx_if:band_event>
		<!-- [end] band integration modzzz  -->		

		<!-- [begin] club integration modzzz  -->
		<bx_if:club_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_club_caption_event_for_club /> __club__
			</div> 
		</bx_if:club_event>
		<!-- [end] club integration modzzz  -->
 
		<!-- [begin] school integration modzzz  -->
		<bx_if:school_event>
			<div class="bx-twig-unit-line bx-twig-unit-special"> 
				<bx_text:_modzzz_schools_caption_event_for_school /> __school__
			</div> 
		</bx_if:school_event>
		<!-- [end] school integration modzzz  -->

        <div itemprop="description" class="bx-twig-unit-line bx-twig-unit-desc">__snippet_text__</div>

        <div class="bx-twig-unit-line bx-twig-unit-special">__event_start__<span itemprop="startDate" content="__event_start_rsnippet__"></span></div>

        <div itemprop="location" class="bx-twig-unit-line">__country_city__</div>

        <div class="bx-twig-unit-line bx_events_unit_participants"><i class="sys-icon user bx-def-font-grayed"></i> <b>__participants__</b></div>

        <bx_if:full>

            <div class="bx-twig-unit-line bx-twig-unit-rate">__rate__</div>
        
            <div class="bx-twig-unit-line bx-def-font-small bx-def-font-grayed">
                <bx_text:_From /> <a href="__author_url__">__author__</a>
            </div>                    

        </bx_if:full>

    </div>    

</div>
