<div class="{unitClass}_unit_short bx-def-margin-sec-top-auto" id="unit_{id}">
    <div class="{unitClass}_unit_short_box">
        <a href="{titleLink}">
            <img src="{pic}" class="{unitClass}_unit_short_pic"/>
        </a>
    </div>
    <div class="{unitClass}_unit_short_text">
        <div class="{unitClass}_title">
            <bx_if:admin>
                <input type="checkbox" name="entry[]" value="{id}"/>
            </bx_if:admin>
            <a class="bx-def-font-large" href="{titleLink}">{title}</a>
        </div>
        <div class="{unitClass}_info bx-def-font-grayed">
            <a href="{fromLink}">{from}</a><span class="sys-bullet"></span>{group}<span class="sys-bullet"></span>{ext}<span class="sys-bullet"></span>{size}<span class="sys-bullet"></span><span class="{unitClass}_when">{when}</span>
        </div>
    </div>
</div>