.gpa_su{width:140px;height:195px;padding:5px}
.gpa_file_search_pic{width:138px;height:138px}
.gpa_file_search_pic img{width:130px;height:130px}
.gpa_su .sys_file_search_title a{float:left}
.gpa_su .sys_file_search_title .sys_file_search_size {float:right}
.gpa_desc {background-color:#EFEEFE;border:1px solid #CCC}

/* file unit full */
.fileUnit {margin:10px;position:relative;}
.fileUnitPic {-moz-background-clip:border;-moz-background-inline-policy:continuous;-moz-background-origin:padding;background:transparent none no-repeat scroll center center;border:1px solid #CCCCCC;margin:0 auto;padding:1px;text-align:center;}

#group_imga_full_unit .navPanel {
margin: 0 auto 10px;
position: relative;
}
#group_imga_full_unit .navPanelLink {
font-size: 16px;
line-height: 28px;
}
#group_imga_full_unit .navPanelNext > .navPanelIcon {
float: right;
}
#group_imga_full_unit .navPanelNext > .navPanelLink {
float: right;
}
#group_imga_full_unit .navPanelPrev {
float: left;
position: relative;
}
#group_imga_full_unit .navPanelNext {
float: left;
position: relative;
}
#group_imga_full_unit .navPanel img.navPanelLinkPrev, #group_imga_full_unit .navPanel img.navPanelLinkNext {
position: absolute;
right: 42px;
top: 0;
}
#group_imga_full_unit .navPanel img.navPanelLinkNext {
right: 0;
}

.gpcol1 {
width:27.1%;margin-right:1%;
}
.gpcol2 {
width:71.9%;
}

@media (max-width:720px) {
}
