<style>
	.aqb_friends_broadcaster_checkbox {
		float: left;
		padding-top: 22px;
		margin-right: 10px;
	}
</style>
<script language="javascript">
	function aqb_friends_broadcaster_select_all(oCheckbox) {
	    var bCheckAll = $(oCheckbox).attr('checked') != undefined;
	    $('.aqb_friends_broadcaster_checkbox_item').attr('checked', bCheckAll);
	}
	function aqb_friends_broadcaster_get_recipients_list() {
		var sList = '';
		$('.aqb_friends_broadcaster_checkbox_item:checked').each(function(i, c){
			sList += $(c).val() + ',';
		});

		$('input[name=recipients]').val(sList);

		window.location.replace("http://combinexlife.com/cxlife/mail.php");
	}
</script>

<div style="width: __form_block_width__px;" id="page_column_1" class="page_column page_column_first">
	<div class="page_block_container bx-def-margin-sec-leftright">
		__form__
	</div>
</div>
<div style="width: __recipients_block_width__px;" id="page_column_2" class="page_column page_column_last">
	<div class="page_block_container bx-def-margin-sec-leftright">
		__recipients__
	</div>
</div>
