<div style="max-height: 500px; overflow-y: auto; overflow-x: hidden;" class="bx-def-padding">
	<bx_if:recipients_required>
	<div class="form_advanced_table" style="float: none; border: none; margin-left: 6px; display:flex;">
		<i float_info="<bx_text:_aqb_friends_broadcaster_recipients_required />" class="warn sys-icon exclamation-sign" style="display: inline;"></i>
		<div class="clear_both"></div>
	</div>
	</bx_if:recipients_required>
	<div>
		<div class="bx-def-margin-thd">
			<input type="checkbox" value="__friend_id__" name="recipients[]" onclick="aqb_friends_broadcaster_select_all(this);" id="aqb_friends_broadcaster_select_all"/>
		</div>
		<bx_repeat:recipients>
		<div class="bx-def-margin-thd">
			<div class="aqb_friends_broadcaster_checkbox">
				<input type="checkbox" class="aqb_friends_broadcaster_checkbox_item" value="__friend_id__" onclick="$('#aqb_friends_broadcaster_select_all').attr('checked', false);" __checked__/>
			</div>
			__thumb__
			<div class="clear_both"></div>
		</div>
		</bx_repeat:recipients>
	</div>
</div>
