.input_wrapper_custom {
    padding-top: 3px; 
}
  
.categories_col {
    font-weight:bold;
    font-size:12px; 
}

.bx_events_default_padding {
    margin:10px;
}

.boxContent .bx_events_unit_rate .votes_small {
    float:none;
}

 

.bx_events_main_photo {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.bx_events_main_photo img {
	width: 100%;
    background-color:#fff;
}

.bx_events_main_info_text {
    width:80%;
    float:left;
    text-align:left;
}
.bx_events_main_info_img {
    width:20%;
    float:left;
    text-align:right;
}

.bx_events_main_info_img .votes_small {
    width:auto;
    float:right;
}

.bx_events_main_info_img .bx_events_unit_participants {
    width:auto;
    float:right;
}

#sys_manage_items_manage_fans_content {
    max-height:280px;
    overflow-y:auto;
}










/*--- 'Available levels', 'Current Level' Styles ---*/
div.mbp-current-levels,
div.mbp-available-levels {
    margin: 0px 0px 10px 0px;
}
div.mbp-level {
    margin: 10px 10px 0px 10px;
    padding: 10px;

    position: relative;

    /*background-color: #f2f2ff;*/
}
 
div.mbp-level-price {
    top: 10px;
    right: 10px;    
    height: 16px;

    position: absolute;

    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-price div.image {
	width: 32px;
	height: 16px;
	
	position: relative;
	float: left;

	background-repeat: no-repeat;
    background-position: right center;
}
div.mbp-level-price div.text {
	height: 16px;
	
	position: relative;
	float: left;
}
div.mbp-level-price img {
    width: 16px;
    height: 16px;
}
div.mbp-level-content {
    min-height: 116px; 
    padding-left: 5px;
}
div.mbp-level-title {
    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-info {
    padding-top: 5px;
}
div.mbp-level-control {
    padding-top: 5px;
}

div.mbp-current-level {
    margin: 0px;
}
div.mbp-current-level div.mbp-level {
    margin: 0px;
    padding: 10px;
    
    position: relative;

    /*background-color: #ffffff;*/
}
div.mbp-level-description {
    min-height: 0px;
    padding: 10px 0px 0px 0px;
}
 