div.mbp-border { 
    border-bottom: 1px dotted #CCCCCC; 
}

div.mbp-cb {
    clear: both;
	font-size: 0px;
}
  
div.activity_spacer{
   margin-bottom:3px; margin: 0; padding: 5px 0px 5px 0px; 
}  
 
div.activity_date {
	float: right; 
	color: #999999;
	padding-left: 5px;
}
div.activity_desc {
	float: left; 
 	padding-left: 5px;
}  
 
/*--- 'Available levels', 'Current Level' Styles ---*/
div.mbp-current-levels,
div.mbp-available-levels {
    margin: 0px 0px 10px 0px;
}
div.mbp-level {
    margin: 10px 10px 0px 10px;
    padding: 10px;

    position: relative;

    /*background-color: #f2f2ff;*/
}
 
div.mbp-level-price {
    top: 10px;
    right: 10px;    
    height: 16px;

    position: absolute;

    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-price div.image {
	width: 32px;
	height: 16px;
	
	position: relative;
	float: left;

	background-repeat: no-repeat;
    background-position: right center;
}
div.mbp-level-price div.text {
	height: 16px;
	
	position: relative;
	float: left;
}
div.mbp-level-price img {
    width: 16px;
    height: 16px;
}
div.mbp-level-content {
    min-height: 116px; 
    padding-left: 5px;
}
div.mbp-level-title {
    font-weight: bold;
    font-size: 12px;
}
div.mbp-level-info {
    padding-top: 5px;
}
div.mbp-level-control {
    padding-top: 5px;
}

div.mbp-current-level {
    margin: 0px;
}
div.mbp-current-level div.mbp-level {
    margin: 0px;
    padding: 10px;
    
    position: relative;

    /*background-color: #ffffff;*/
}
div.mbp-level-description {
    min-height: 0px;
    padding: 10px 0px 0px 0px;
}
 
/* [begin] invoice css */ 
.bx_events_invoice_unit .unit_info .title {
    margin-bottom:5px; 
}

.bx_events_invoice_unit .bx_sys_unit_checkbox {
    top:0;
	left:0;
	position:absolute;
}

.bx_events_invoice_unit { 
	margin:10px;
    position:relative;
}

.bx_events_invoice_unit .sys_file_search_pic {
    height: 148px;
}

.bx_events_invoice_unit .sys_file_search_pic img {
    height: 140px;
}

.bx_events_invoice_unit .thumbnail_block {
    left:0;
    position:absolute;
    top:0;
}

.bx_events_invoice_unit .unit_info {
    margin-left:68px; 
}

.bx_events_invoice_unit .title {
    font-size:12px;
    margin-bottom:-3px;
    width:85%;
}

.bx_events_invoice_unit .fr_small_gray_centered {
    color:#999;
    height:20px;
    line-height:15px;
    font-size:9px;
    float:left;
    overflow:hidden;
    margin-bottom:5px;
    vertical-align:middle;
}

.bx_events_invoice_unit .margined {
    margin-right:5px;
    line-height:18px;
}

.bx_events_invoice_unit .margined10 {
    margin-right:10px;
} 
/* [end] invoice css */


/* [begin] order css */ 
.bx_events_order_unit .unit_info .title {
    margin-bottom:5px; 
}

.bx_events_order_unit .bx_sys_unit_checkbox {
    top:0;
	left:0;
	position:absolute;
}

.bx_events_order_unit { 
	margin:10px;
    position:relative;
}

.bx_events_order_unit .sys_file_search_pic {
    height: 148px;
}

.bx_events_order_unit .sys_file_search_pic img {
    height: 140px;
}

.bx_events_order_unit .thumbnail_block {
    left:0;
    position:absolute;
    top:0;
}

.bx_events_order_unit .unit_info {
    margin-left:68px; 
}

.bx_events_order_unit .title {
    font-size:12px;
    margin-bottom:-3px;
    width:85%;
}

.bx_events_order_unit .fr_small_gray_centered {
    color:#999;
    height:20px;
    line-height:15px;
    font-size:9px;
    float:left;
    overflow:hidden;
    margin-bottom:5px;
    vertical-align:middle;
}

.bx_events_order_unit .margined {
    margin-right:5px;
    line-height:18px;
}

.bx_events_order_unit .margined10 {
    margin-right:10px;
} 
/* [end] order css */


.bx-twig-unit-icon-cont {
    float:left;
    display:table-cell;
    top:0;
    left:0;
    width:70px;
    text-align:center;
    vertical-align:top;
    padding-left:2px;
    padding-bottom:3px;
}

.bx-twig-unit-icon-cont img {
    background-color:white;
}

.bx-twig-unit-caption {
	color:green;
}

.bx-twig-checkbox-pad {
	margin-left:30px;
}
 
.bx-twig-unit-desc {
    padding-top:5px;
    padding-bottom:5px;
}

.bx-twig-unit-comment{
    margin-bottom:5px;
}


