#sys_manage_items_manage_fans_content { 
 max-height:280px; 
 overflow-y:auto;
}

.infoUnitBorderFirst {
	border:2px solid #CCCCCC; 
	width:100%;
    margin:5px 0px 10px 0px;
}

.infoUnitBorder {
	border:2px solid #CCCCCC; 
	width:100%;
    margin:5px 0px 5px 0px;
}

.bx_events_block_info {
}
 
.bx_events_block_info .infoUnit {
    overflow:hidden;
}

.bx_events_country_city img {
    top:2px;
    width:16px;    
}

table.bx_events_fields {
    border-collapse:collapse;
    padding:0;
}

td.bx_events_field_name {
    margin:0;
    padding-bottom:10px;
    text-align:left;
}

td.bx_events_field_value {
    margin:0;
    padding-bottom:10px;
    text-align:left;
}
 
.rss_item_topic {
 font-weight:bold; 
 font-size:12px;
 padding-bottom:10px;   
}
