<div class="mbp-available-levels-wrp">
	<div class="mbp-available-levels">
		<div class="mbp-al-col-left">
			<bx_repeat:levels_left>
				<bx_include_auto:available_level.html />
			</bx_repeat:levels_left>
			<div class="mbp-cb">&nbsp;</div>
		</div>
		<div class="mbp-al-col-right">
			<div class="mbp-al-col-right-cnt">
				<bx_repeat:levels_right>
			    	<bx_include_auto:available_level.html />
			    </bx_repeat:levels_right>
			    <div class="mbp-cb">&nbsp;</div>
			</div>
		</div>
		<div class="mbp-cb">&nbsp;</div>
	</div>
</div>
__js_code__