<table class="aqb_blogs_actions">
    <tr>
        <td><a href="__add_new_entry_url__"><bx_text:_aqb_blogs_admin_add_new_group /></a></td>
        <td><a href="__admin_entries_url__"><bx_text:_aqb_blogs_admin_groups /></a></td>
        <td><a href="__settings_url__"><bx_text:_aqb_blogs_admin_settings /></a></td>
    </tr>
</table>