<div id="wall-event-__post_id__" class="wall-event aqb_blogs-wall-event">
    <a name="wall-groups-__post_id__"></a>
    __post_owner_icon__
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon comment-alt"></i></div>
        <div class="wall-caption aqb_blogs-wall-caption">
            <span class="aqb_blogs-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__ <a class="aqb_blogs-wall-caption-link" href="__cpt_item_url__">__cpt_object__</a>.&nbsp;
        </div>
        <div class="wall-content aqb_blogs-wall-content bx-def-margin-sec-bottom">__cnt_comment_text__</div>
        <div class="wall-snippet aqb_blogs-wall-snippet">
            __unit__
        </div>
        <div class="wall-comments aqb_blogs-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
