<div id="wall-event-__post_id__" class="wall-event aqb_blogs-wall-event">
    <a name="wall-groups-__post_id__"></a>
    __post_owner_icon__
    <div class="wall-event-cnt">
        <div class="wall-event-circle"><i class="sys-icon book"></i></div>
        <div class="wall-caption aqb_blogs-wall-caption">
            <span class="aqb_blogs-wall-caption-owner">__cpt_user_name__</span> __cpt_added_new__.&nbsp;
        </div>
        <div class="wall-content aqb_blogs-wall-content-grouped">
             <bx_repeat:items>
                __unit__
            </bx_repeat:items>
            <div class="wall-clear"></div>
        </div>
        <div class="wall-comments aqb_blogs-wall-comments" id="wall-comment-__post_id__">
            __comments_content__
        </div>
    </div>
</div>
