<div class="message_wrapper bx-def-padding-sec-bottom __owner_nick_extra__ clearfix">
    <span class="owner_nick __owner_nick_extra__">__sender_nickname__</span>:
    <span class="message">__message__</span>
    <span class="date bx-def-font-small bx-def-font-grayed">__date_add__</span>
</div>
