#aqb_blogs_admin_listing .block_cont {
    padding:1px;
}

table.aqb_blogs_actions {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}

table.aqb_blogs_actions td {
    width:33%;
    text-align:center;
}

.aqb_blogs_manage_wrapper {
    padding:0;
}
