
.aqb_blogs_main_photo {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.aqb_blogs_main_photo img {
    background-color:#fff;
}

.aqb_blogs_main_info_text {
    width:70%;
    float:left;
    text-align:left;
}
.aqb_blogs_main_info_img {
    width:30%;
    float:left;
    text-align:right;
}

.aqb_blogs_main_info_img .votes_small {
    width:auto;
}