
table.aqb_blogs_fields {
    border-collapse:collapse;
    border-spacing:0px;
}

td.aqb_blogs_field_name {
    margin:0;
    text-align:left;
}

td.aqb_blogs_field_value {
    margin:0;
    text-align:left;
}

.aqb_blogs_profile_unit {
    overflow:hidden;
    float:left;
}