div.aqb_blogs-wall-event {    
    position: relative;    
}

div.aqb_blogs-wall-caption {
    height: 30px;
    padding-left: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px center;
    line-height: 30px; 
}

span.aqb_blogs-wall-caption-owner {
    font-weight: bold;
}

a.aqb_blogs-wall-caption-link,
a.aqb_blogs-wall-caption-link:link {
    text-decoration: none;
}
a.aqb_blogs-wall-caption-link:hover,
a.aqb_blogs-wall-caption-link:active {
    text-decoration: underline;
}
div.aqb_blogs-wall-content {
    position: relative;
}
div.aqb_blogs-wall-comments {
    padding-left: 0px;
}

/*--- Overwrite default Comment styles ---*/
div.aqb_blogs-wall-comments div.cmts {
    padding: 0px;
    /*display: none;*/
}
div.aqb_blogs-wall-comments div.cmt-reply {
    padding: 0px;
    /*display: none;*/
}
div.aqb_blogs-wall-comments div.thumbnail_block {
    left: -38px;
    top: 1px;
}
